.DS_Store
.idea
*.log
tmp/

# Web
web/src/**/*.html
web/src/**/*.swp
web/src/compiled/
web/src/**/compiled/
web/src/static/styles/*.css
web/vars
web/out/

# VSC
vsc/themes/Earl-Grey-color-theme.json
vsc/themes/compiled/
vsc/themes/**/compiled/
