@font-face {
    font-family: "Crimson Pro";
    src: url("/static/fonts/CrimsonPro-Regular.ttf");
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: "Recursive Mono SemiCasual";
    src: url("/static/fonts/RecMonoSemicasual-Regular.ttf");
    font-weight: normal;
    font-display: swap;
}
