/* Coolors Exported Palette - https://coolors.co/f7f3ee-fcfbf9-605a52-735073-536384-48746d-8f6428-67734c-884d4d */

/* CSS HEX */
--isabelline: #f7f3eeff;
--white: #fcfbf9ff;
--davys-grey: #605a52ff;
--chinese-violet: #735073ff;
--dark-blue-gray: #536384ff;
--hookers-green: #48746dff;
--golden-brown: #8f6428ff;
--dark-olive-green: #67734cff;
--tuscan-red: #884d4dff;

/* CSS HSL */
--isabelline: hsla(33, 36%, 95%, 1);
--white: hsla(40, 33%, 98%, 1);
--davys-grey: hsla(34, 8%, 35%, 1);
--chinese-violet: hsla(300, 18%, 38%, 1);
--dark-blue-gray: hsla(220, 23%, 42%, 1);
--hookers-green: hsla(170, 23%, 37%, 1);
--golden-brown: hsla(35, 56%, 36%, 1);
--dark-olive-green: hsla(78, 20%, 37%, 1);
--tuscan-red: hsla(0, 28%, 42%, 1);

/* SCSS HEX */
$isabelline: #f7f3eeff;
$white: #fcfbf9ff;
$davys-grey: #605a52ff;
$chinese-violet: #735073ff;
$dark-blue-gray: #536384ff;
$hookers-green: #48746dff;
$golden-brown: #8f6428ff;
$dark-olive-green: #67734cff;
$tuscan-red: #884d4dff;

/* SCSS HSL */
$isabelline: hsla(33, 36%, 95%, 1);
$white: hsla(40, 33%, 98%, 1);
$davys-grey: hsla(34, 8%, 35%, 1);
$chinese-violet: hsla(300, 18%, 38%, 1);
$dark-blue-gray: hsla(220, 23%, 42%, 1);
$hookers-green: hsla(170, 23%, 37%, 1);
$golden-brown: hsla(35, 56%, 36%, 1);
$dark-olive-green: hsla(78, 20%, 37%, 1);
$tuscan-red: hsla(0, 28%, 42%, 1);

/* SCSS RGB */
$isabelline: rgba(247, 243, 238, 1);
$white: rgba(252, 251, 249, 1);
$davys-grey: rgba(96, 90, 82, 1);
$chinese-violet: rgba(115, 80, 115, 1);
$dark-blue-gray: rgba(83, 99, 132, 1);
$hookers-green: rgba(72, 116, 109, 1);
$golden-brown: rgba(143, 100, 40, 1);
$dark-olive-green: rgba(103, 115, 76, 1);
$tuscan-red: rgba(136, 77, 77, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #f7f3eeff, #fcfbf9ff, #605a52ff, #735073ff, #536384ff, #48746dff, #8f6428ff, #67734cff, #884d4dff);
$gradient-right: linear-gradient(90deg, #f7f3eeff, #fcfbf9ff, #605a52ff, #735073ff, #536384ff, #48746dff, #8f6428ff, #67734cff, #884d4dff);
$gradient-bottom: linear-gradient(180deg, #f7f3eeff, #fcfbf9ff, #605a52ff, #735073ff, #536384ff, #48746dff, #8f6428ff, #67734cff, #884d4dff);
$gradient-left: linear-gradient(270deg, #f7f3eeff, #fcfbf9ff, #605a52ff, #735073ff, #536384ff, #48746dff, #8f6428ff, #67734cff, #884d4dff);
$gradient-top-right: linear-gradient(45deg, #f7f3eeff, #fcfbf9ff, #605a52ff, #735073ff, #536384ff, #48746dff, #8f6428ff, #67734cff, #884d4dff);
$gradient-bottom-right: linear-gradient(135deg, #f7f3eeff, #fcfbf9ff, #605a52ff, #735073ff, #536384ff, #48746dff, #8f6428ff, #67734cff, #884d4dff);
$gradient-top-left: linear-gradient(225deg, #f7f3eeff, #fcfbf9ff, #605a52ff, #735073ff, #536384ff, #48746dff, #8f6428ff, #67734cff, #884d4dff);
$gradient-bottom-left: linear-gradient(315deg, #f7f3eeff, #fcfbf9ff, #605a52ff, #735073ff, #536384ff, #48746dff, #8f6428ff, #67734cff, #884d4dff);
$gradient-radial: radial-gradient(#f7f3eeff, #fcfbf9ff, #605a52ff, #735073ff, #536384ff, #48746dff, #8f6428ff, #67734cff, #884d4dff);